.item {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 10px;
}

.item:hover {
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

.item i {
  padding-right: 5px;
}
